
@font-face {
    font-family: 'menu';
    src: url('fontes/TitilliumWeb-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'texto';
    src: url('fontes/Louis\ George\ Cafe.ttf') format('truetype');
}
@font-face {
  
    src: url('fontes/Mainstay.ttf') format('truetype');
}
@font-face {
    font-family: 'titulo';
    src: url('fontes/Quick.ttf')format('truetype');  ;
}
body{
   background-color: #ccc;
}
header > h1{
    text-align: center;
    
    padding-top: 155px;
    padding-bottom: -10px;
    font-size: 50px;
    color: aqua;
}
header > h3{
    text-align: center;
    font-size: 30px;
    padding-top: 0px;
    color: aqua;
}
header{
    width: 101vw;
    height: 400px;
    background-color: aqua;
    margin: -12px;
    margin-top: -34px;
}
nav{
    margin-top: ;
    padding-top: 40px;
    padding-left: 15px;
    text-decoration: none;
    font-weight: 2em;
    color: white;
    font-size:20px;
    margin-right: 30vw;
}
nav > a{
    color: aqua;
    font-weight: bolder;
    font-family: 'menu';
    text-decoration: none;
    padding-right: 20px;
    position: relative;
}
.menu nav a::after{
    content: " ";
    width: 0px;
    height: 5px;
    background-color: rgb(52, 10, 219);
    position: absolute;
    top: 30px;
    left: 0;
    border-radius: 3px;
    transition: width, 0.5s;
}
.menu nav a:hover::after{
    width: 50px;
}
fixoNoTopo{
    position: fixed;
    top: 0px;
}
.conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 auto;
}
.back{
    animation: animate 16s ease infinite;
    background-size: cover;
}
@keyframes animate{ 
    0%, 100%{
        background-image: url(imagens/DRUM.jpg);
        background-attachment: fixed;
    }
    25%{
        background-image: url(imagens/Imagem1.jpg);
        background-attachment: fixed;
    }
    50%{
        background-image: url(imagens/photo.jpg);
        background-attachment: fixed;
        background-size: cover;
    }
    75%{
        background-image: url(imagens/TF2.jpg);
        background-attachment: fixed;
    }
}


.sociais{
    padding-top: 40px;
    padding-left: -30vw;
    margin-right: 20px;
}
#btn-menu{
    background: transparent;
    transition: .2s;
    outline: none;
    cursor: pointer;
    border: 2px solid white;
    display: none;
    overflow: hidden;
    
}
.sociais button{
margin-top: -10vh;
   width: 40px;
   height: 40px;
   cursor: pointer;
   background-color: rgb(52, 10, 219);
   margin-right: 10px;
   border-radius: 10px;
}
.sociais button i{
    font-size: 20px;
    color: white;
}
/*
estilizacao mobile*/
.menu-mobile{
    background: #0000008c;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    height: 54.5vh;
    visibility: hidden;
    transition: 0.5s;
}
.menu-mobile nav a{
    display: block;
    padding: 20px 30px;
    font-size: 16pt;
}
.menu-mobile nav a:hover{
    background:#1816168c ;
    
}
@media screen and (max-width: 910px) {
    .menu, .sociais{
        display: none;
    }
    .menu-mobile.abrir{
        visibility: visible;
        
    }
    #btn-menu{
        display: block;
    }
}
/* fecho de estilizacao mobile*/


/* trabalhando a animacoa do batao*/
button.btu{
    margin-top: -640px;
    margin-left: -597px;
    width: 50px;
    height: 50px;
    border: 2px solid #ccc;
    border-radius: 2px;
    background: transparent;
}
.linha{
    width: 30px;
    height: 3px;
    background: #ccc;
    position: relative;
    display: block;
    margin: 8px auto;
    transform-origin: center;
    cursor: pointer;
    transition: 0.2s;
}
button.ativar{
    border: 2px solid red;
}
button.ativar .linha:nth-child(1){
    transform: translateY(25px)rotate(-85deg);
    background-color: red;
}

button.ativar .linha:nth-child(2){
    width: 0;
    }  
button.ativar .linha:nth-child(3){
    transform: translateY(-25)rotate(85deg);
    background-color: red;
}
/*Fechando*/

section{
    padding: 15px;
    font-family: 'texto';
    font-size: 20px;
    margin-left: 5vw;
    text-indent: 20px;
    line-height: 2em;
}
section > h1{
    text-shadow: 1px 1px 0px black;

}
.base{
    margin: 15px 100px 0 100px;
    background-color: white;
    box-shadow: inset 6px 6px 6px 0px black;

}
article{
    width: 90vw;
    height: 50px;
    margin: 20px auto;
    background-color: white;
    text-align: justify;
    border-radius: 15px;
}
#coluna{
    
}
.base > h1{
    text-align: center;
    padding-top: 30px;
    margin-bottom: 10px;
    font-family: 'titulo';
    line-height: 2em;
    font-size: 3em;
}
section > img{
    width: 30vw;
}
.q1 > p{
   width: 40vw; 
}
.q1{
  display: flex;
}
.q2 > p{
    width: 40vw; 
    padding-left: 20px;
}
.q2{
    display: flex;
}
/*Estilizando o footer*/
footer{
    width: 102vw;
    margin: -10px;
    margin-bottom: -20px;
    padding: 5px;
    background-color: #ccc;
    color: white;
}
footer > p{
    text-align: center;
    font-size: 20px;
    margin-top: -5px;
    padding-bottom: 5px;
}
.redes button{
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: rgb(52, 10, 219);
    margin-right: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.redes{
    margin-left: 45vw;
    align-items: center;
    justify-content: center;
}
.sociais button i{
    font-size: 20px;
    color: white;
    text-align: center;
}
.cell button{
    width: 40px;
    height: 40px;
    cursor: pointer;
 
    margin-right: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.cell{
    margin-top: -30px;
    margin-left: 45vw;
    align-items: center;
    justify-content: center;
}
.cell button i{
    font-size: 20px;
    color: white;
    text-align: center;
}
/* fechando*/ 
.usadas{
    padding: 50px;
    padding-top: 10px;
}


.marca{
    width: 80px;
    height: 80px; 
    padding: 30px;
    padding-top: 5px;
    border-radius: 10px;
}